body, html {
    width: 100%;
    margin: 0pt;
    overflow: hidden;
    font-family: 'Bungee Inline', cursive;
}

.bg {
    /*fitting*/
    width: 100%;
    opacity: 80%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0pt;
    
}

.butt {
    bottom: 6%;
    left: 42%;
    position: absolute;
    font-family: inherit;
}

.butt button {
    font-size: xx-large;
    font-family:inherit;
    border: 5px solid white;
    border-radius: 10px;
    background-color: #ebe3e5;
}

.icon {
    position: absolute;
    left: 15%;
    top: -18%;
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
